Source: lightdm-webkit-greeter
Section: x11
Priority: optional
Maintainer: Rahman Yusri Aftian <aftian@di.blankon.in>
XSBC-Original-Maintainer: Robert Ancell <robert.ancell@ubuntu.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 7.0.50~),
               dh-autoreconf,
               gnome-common,
               liblightdm-gobject-dev,
               libwebkit-dev
Homepage: https://launchpad.net/lightdm
Vcs-Git: https://github.com/aftian/lightdm

Package: lightdm-webkit-greeter
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         manokwari-theme-greeter
Recommends: lightdm
Provides: lightdm-greeter
Description: LightDM Webkit Greeter
 A LightDM greeter that uses WebKit (HTML/CSS).
